.karfa {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .karfa__h2{
      padding: 30px;

  }
  .karfa__cards__row {
    margin-top: 20px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  
    
  }
  .karfa__cards__vara {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      margin-left: -10px;
      margin-right: -10px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .karfa__cards__vara__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 33.3%;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .karfa__cards__vara__body__fyrirsogn {
      padding-top: 20px;
  }
  
  .karfa__cards__vara__body__verd {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      
  }
  .karfa__cards__vara__body__verd__h3 {
      padding-bottom: 20px;
  }
  
  .karfa__cards__vara__h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .karfa__cards__vara p{
    line-height: 1.2rem;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  
  .karfa__cards__vara__mynd img {
      max-width: 100%;
      object-fit: contain;
  }
  
  .karfa__cards__vara__teljari__takkar {
    display: inline-flex;
   flex-direction: row;
   
    justify-content: space-evenly;
    
  }
  .karfa__cards__vara__teljari__takkar__button {
    
    display: flex;
    background-color: lightgray;
    border-radius: 2px;
    border-color: black;
    transition: 200ms ease-in-out;
    //margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    height: 2rem;
  }
  .karfa__cards__vara__teljari__takkar__button:hover {
    display: flex;
    background-color: skyblue;
    border-radius: 2px;
    border-color: black;
    transition: 200ms ease-in-out;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 2rem;
  }
  .karfa__cards__vara__teljari__takkar__button__texti {
    display: inline-flex;
    justify-content: center;
    object-fit: contain;
    width: 100%;
  }
  .karfa__cards__vara__teljari__takkar__button__texti img {
    max-height: 1.1rem;
    padding: 2px;
  }
  .karfa__cards__vara__teljari__takkar__magn {
    margin-right: 5px;
    width: 100%;
    height: 2rem;
  }