.karfa {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .karfa__cards__row {
    margin-top: 20px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
 
    
  }
  .karfa__cards__vara {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      margin-left: -10px;
      margin-right: -10px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .karfa__cards__vara__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 33.3%;
    margin-left: -10px;
    margin-right: -10px;

  }

  .karfa__cards__vara__h2{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .karfa__cards__vara p{
    line-height: 1.2rem;
    padding-top: 20px;
    padding-bottom: 20px;
  }

 
  .karfa__cards__vara__mynd img {
      max-width: 100%;
      object-fit: contain;
  }

  .karfa__cards__vara__teljari__takkar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
  }
  .karfa__cards__vara__teljari__takkar__button {
    
    display: block;
    width: auto;
    color: darkgray;
    border-radius: 5px;
    border-color: black;
    border: none;
    transition: all 0.4s ease 0s;
    margin-left: 20px;
    
  }
  .karfa__cards__vara__teljari__takkar__button__texti {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .karfa__cards__vara__teljari__takkar__button__texti img {
    max-height: 1.1rem;
    padding: 2px;
  }