// TODO stillingar hér

$max-width: 1200px;
$gutter: 20px;

$font-main: "Open Sans", helvetica, arial, sans-serif;
$font-heading: "Oswald", Verdana, serif;

$color-Orange :#ff5000;
$color-White: #fffcf2;
$color-Blue: #00b7ff;
$color-Black: #000000;

$large: 1500px;
$medium: 800px;
$small: 500px;

$gutter: 20px;