.header {
  background-color: #ff5000;
  justify-content: center;
  display: flex;
  padding: 0 20px;
  max-width: 100vw;
  font-family: "Open Sans", helvetica, arial, sans-serif;

  &__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
  }
}
.box {
  &__title {
    font-size: 2rem;
    margin: 0 auto;
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__lists {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    width: 50%;

    &__current {
      text-decoration: underline;
      color: blueviolet;
    }

    & a {
      margin: 10px;
      text-decoration: none;
      color: #000000;
      font-size: 0.75rem;
    }
    & a:hover{
      color: #fffcf2;
    }
  }
  &__cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    & a {
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 500;
      color: #000000;
      font-size: 0.75rem;
      padding-left: 0.25rem;
    }
    & a:hover {
      color: #fffcf2;
    }
    & img {
      height: 50%;

    }
  }
}
