@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 

  // TODO fleiri grunn stillingar
}



// TODO sækja allar sass skrár
@import "scss/haus.scss";
@import "scss/Forsida.scss";
@import "scss/Staff.scss";
@import "scss/Cart.scss";
@import "scss/Course.scss";
@import "scss/Products.scss";
@import "scss/fotur.scss";
@import "scss/button.scss";
